@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
            /*Primary*/
    --Blue: hsl(185, 75%, 39%);
    --Navy: hsl(229, 23%, 23%);
    --Gray-dark: hsl(227, 10%, 46%);
            /*Neutral*/
    --Gray-light: hsl(225, 10%, 92%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font: 18px "Outfit", sans-serif;
    color: var(--Gray-dark);
    background-color: var(--Blue);
    background-image: url(images/bg-pattern-top.svg),url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat,no-repeat;
    background-position: right 50vw bottom 50vh , left 50vw top 50vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color:white ;
    width: fit-content;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
.victor img{
    width: 106px;
    height: 106px;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: -58px;
}
.info{
    padding: 15px 0;
}
.info .name,.cardBottom .count{
    font-weight: 700;
    color: var(--Navy);
}
.info .name span{
    font-weight: 400;
    color: var(--Gray-dark);
    padding-left: 5px;
}
.info .city{
    font-size: 15px;
    padding-top:5px ;
}
hr{
    border: 0.5px solid var(--Gray-light);
    margin-top: 10px;
}
.cardBottom{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;

}
.cardBottom .detail{
    font-size: 11px;
    letter-spacing: 1px;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
